
.wrapper {
    padding: 10px;
}

.title_container {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 30px 0;
}

.title_content {
}

.content_container {
    display: flex;
}
